<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ item.name }}</title>
</head>
<body>
<h1>{{ item.name }}</h1>
{% if cover %}
	<img src="{{ cover }}" alt="{{ item.name }}" />
{% endif %}
</body>
</html>